# Ignora la carpeta de dependencias
node_modules/

# Ignora archivos de entorno
.env

# Ignora logs y errores
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignora directorios del sistema
.DS_Store
Thumbs.db

# Ignora archivos de build
dist/
build/
